<!DOCTYPE html>
<html lang="en" xmlns:th="www://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
  </head>
  <body>
    <h1 th:text="${title}"></h1>
    <ul>
      <li>
        <p th:text="${user.name}"></p>
      </li>
      <li>
        <p th:text="${user.lastName}"></p>
      </li>
      <li>
        <p th:if="${user.email == null}" th:text="${'No tiene email'}"></p>
      </li>
    </ul>
    <a th:href="@{/list}">ver listado</a>
    <a th:href="@{'/api/params/foo?mensaje='+ ${title}}">link con argumentos</a>
    <a th:href="@{/api/params/foo(mensaje = 'Esto es un mensaje directo')}">link quemado</a>
    <a th:href="@{/api/params/bar(text ='mensaje', code = 3212423)}">link con argumentos</a>
  </body>
</html>